<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Lora&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header class="header" style="background-image: url(images/header.bg.jpg);">
        <div class="container">
            <div class="header-top">
                <div class="header__logo">
                    <a href="#">Dron</a>
                </div>

            <div>
            <div class="header__content">
                <div class="header__content-title title">
                    Типы беспилотных летательных аппаратов
                </div>


                <div class="header__content-icons">
                    <div class="header__content-icon"></div>
                    <div class="header__content-icon"></div>
                    <div class="header__content-icon"></div>
                </div>

                <div class="header__content-mouse">
                    <div class="mouse">
                        <div class="scroller"></div>
                    </div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="about">
        <div class="container">
            <div class="about__title title">Основные типы беспилотных летательных аппаратов:
            <div class="about__items">
                <div class="about__item">
                    <img class="about__item-img" src="images/image1.jpg" alt="icon1">
                    <div class="about__item-title">Мультикоптерные дроны;</div>
                    <div class="about__item-title1"> Беспилотник с неподвижным крылом;</div>
                    <div class="about__item-title2"> Однороторный дрон;</div>
                    <div class="about__item-title3"> Гибридные дроны.</div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="abou">
        <div class="container">
            <div class="abou__title title">Мультикоптерные дроны
            <div class="abou__items">
                <div class="abou__item">
                    <img class="abou__item-img" src="images/image2.jpg" alt="icon1">
                    <div class="abou__item-title">Мультироторные дроны - наиболее распространенные типы дронов, которые используются как профессионалами, так и любителями. Такой дрон представляет собой летающую платформу с 3, 4, 6, 8, 12 бесколлекторными двигателями с пропеллерами. Так дрон с четырьмя моторами носит название – Квадракоптер, с шестью – Гексакоптер, с восемью – Октокоптер. В полете дрон держит горизонтальное положение относительно поверхности земли и может зависать над определенным местом, перемещаться влево, вправо, вперед, назад, вверх и вниз, а так же, поворачиваться вокруг своей оси. Все действия совершаются путем изменения тяги на каждом моторе.</div>
                    <div class="abou__item-title1"> Сегмент рынка таких устройств многообразен, это и многороторные дроны для профессионального использования, такие как аэрофотосъемка, цена которых может варьироваться от 500 до 3000 долларов США. Но есть много моделей для хобби, таких как любительские гонки на дронах или досуговые полеты, в диапазоне цен от 50 до 400 USD. Из всех типов дронов, мультикоптерные дроны являются самыми простыми в изготовлении и самыми дешевыми.</div>
                    <div class="abou__item-title2"> Преимущества: вертикальный взлет, возможность зависать над объектом.</div>
                    <div class="abou__item-title3"> Так же, многороторные дроны очень дешевы, так любой человек с зарплатой может купить приличный квадрокоптер. Управление полетом, к примеру, на квадрокоптере, не требует специальной подготовки. Вы просто берете его на открытую площадку и управляете его полетом, осваивая руководство и управление квадрокоптером прямо на ходу.</div>
                    <div class="abou__item-title4"> Хотя мультикоптерные дроны просты в изготовлении и относительно дешевы, они имеют много недостатков. Основные из них - это ограниченное время полета, ограниченная грузоподъёмность и небольшая скорость. Они не подходят для крупномасштабных проектов, таких как аэрофотосъемка больших площадей. Основная проблема мультикоптеров заключается в том, что им приходится тратить огромную часть своей энергии на борьбу с гравитацией и стабилизацию аппарата в воздухе. В настоящее время большинство многороторных беспилотных летательных аппаратов способны летать всего 20 - 30 минут с минимальной полезной нагрузкой, такой как видеокамера.</div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="abo">
        <div class="container">
            <div class="abo__title title">Беспилотники с неподвижным крылом
            <div class="abo__items">
                <div class="abo__item">
                    <img class="abo__item-img" src="images/image3.jpg" alt="icon1">
                    <div class="abo__item-title">Беспилотные летательные аппараты с неподвижным крылом полностью отличаются по конструкции от аппаратов с несколькими роторами. Для полета, и создания подъемной силы они используют "крыло", как его используют обычные самолеты. Эти беспилотники не могут зависать на месте в воздухе, борясь с гравитацией. Вместо этого они могут двигаться вперед по заданному курсу идо тех пор, пока позволяет их источник энергии.
                    </div>
                    <div class="abo__item-title1"> Большинство беспилотных летательных аппаратов с неподвижным крылом имеют среднее время полета в пару часов. Дроны с газовым двигателем могут летать до 16 часов и выше. Благодаря более высокому времени полета и топливной экономичности беспилотные летательные аппараты с неподвижным крылом идеально подходят для дальних операций (будь то картографирование или наблюдение). Но они не могут быть использованы для аэрофотосъемки, где беспилотник должен оставаться неподвижным в воздухе в течение определенного периода времени.</div>
                    <div class="abo__item-title2"> Другими недостатками беспилотных летательных аппаратов с неподвижным крылом являются более высокие затраты на обучение персонала навыкам управления, необходимым для полета. Не так-то просто поднять в воздух беспилотник с неподвижным крылом. Чтобы запустить и поднять беспилотник с неподвижным крылом в воздух, требуется либо специальная "взлетная полоса", либо пусковая установка в виде катапульты. Чтобы благополучно посадить аппарат обратно на землю, также потребуется взлетно-посадочная полоса, парашют или сеть.</div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="ab">
        <div class="container">
            <div class="ab__title title">Однороторный дрон
            <div class="ab__items">
                <div class="ab__item">
                    <img class="ab__item-img" src="images/image4.jpg" alt="icon1">
                    <div class="ab__item-title">Однороторные дроны очень похожи по конструкции и на настоящие вертолеты. В отличие от многороторного дрона, у одноготорного дрона есть один большой ведущий винт плюс небольшой по размеру винт на хвосте, чтобы контролировать курс. Однороторные дроны гораздо эффективнее, чем многороторные версии. Они имеют более высокое время полета и могут даже приводиться в действие двигателями внутреннего сгорания.
                    </div>
                    <div class="ab__item-title1"> В аэродинамике, чем меньше число винтов, тем меньше общее вращение объекта. И это главная причина, почему квадрокоптеры (4 винта) более стабильны, чем октоптеры (8 винтов). В этом смысле однороторные дроны гораздо эффективнее многороторных дронов.</div>
                    <div class="ab__item-title2"> Но есть и недостатки у однороторных дронов. Эти машины из-за более сложной конструкции имеют высокую стоимость и эксплуатационные затраты. Также они требуют специальной подготовки персонала для управления. Большие размеры лопастей несущего винта представляют опасность. Были зафиксированы несчастные случаи нанесения смертельных травм винтом радиоуправляемого вертолета. К примеру, многороторные дроны, ещё никогда не участвовали в смертельных авариях, хотя шрам на теле человека от винта многороторного дрона получить вполне вероятно.</div>
                </div>
            </div>
            </div>
        </div>

    </div>

    <div class="a">
        <div class="container">
            <div class="a__title title">Гибридные дроны
            <div class="a__items">
                <div class="a__item">
                    <img class="a__item-img" src="images/image4.jpg" alt="icon1">
                    <div class="a__item-title">Гибридные версии сочетают в себе преимущества моделей с неподвижным крылом, такие как - более высокое время полета, с преимуществами моделей на основе винтов – возможность пареня. Гибридные конструкции летательных аппаратов проектировались с 1960-х годов, но не имели особого успеха. Однако с появлением датчиков нового поколения (гироскопов и акселерометров) гибридность конструкции получила новую жизнь и направление развития.
                    </div>
                    <div class="a__item-title1"> Разрабатываемый компанией Airbus гибридный беспилотник «Zelator-28» может использоваться для доставки грузов и выполнения разнообразных миссий. Для вертикального маневрирования дрон использует четыре Т-образных двигателя U11s с максимальной тягой 7,5 кг. А для горизонтального перемещения мощный Т-образный двигатель U12 21×33 с пропеллерной системой с максимальной тягой 11 кг.</div>

                </div>
            </div>
            </div>
        </div>

    </div>

</body>
</html>